{% extends 'main.html' %}

{% block content %}

			<section class="pt160 pb160 pt-xs-80 pb-xs-80 image-bg overlay" data-sr="enter bottom move 20px over .5s and scale 0% and wait 0s">
				<div class="background-image-holder">
					<img alt="Pic" class="background-image" src="../../static/images/aboutus2.jpg" />
				</div>

				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1 class="uppercase mb0">About</h1>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>

			<section class="pb0" data-sr="enter bottom move 20px over .5s and scale 0% and wait 0s">
				<div class="container">
					<div class="row">
						<div class="col-sm-2">
						</div>
						<div class="col-sm-8 text-center">
							<div class="feature bordered pt48 pb48 pt-xs-32 pb-xs-32 mb0">
								<p class="lead mb0 p32">
									<strong>Cleveland Rocks</strong> is one part climbing gym and one part community hub. We are dedicated to enhancing both the mind and body through rock climbing, fitness, and technology education.
								</p>
							</div>
						</div>
						<div class="col-sm-2">
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>

			<section class="pb0" data-sr="enter bottom move 20px over .5s and scale 0% and wait 0s">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 col-sm-12">
							<div class="pt64 pb64 bg-secondary overflow-hidden">
								<h4 class="text-center uppercase mb64 mb-xs-40">We're much more than a gym.</h4>
								<div class="col-md-8 col-md-offset-2">
									<p class="large mb32">
										<strong>Our goal is singular: to create a safe, fun place for active people to find community.</strong>
									</p>

									<p>
										Cleveland Rocks is cultivating an active lifestyle movement that starts with individuals and ends with the community. We're invested in fostering an environment of camaraderie that encourages healthy living and thriving social relationships. We're bringing like-minded individuals under the same roof so that people can meet, interact, and be inspired by one other.
									</p>

								</div>
							</div>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>

			<section class="pb0 team top-layer">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 overflow-hidden p0">
							<div class="col-sm-6 mb30" data-sr="enter bottom move 20px over .5s and scale 0% and wait 0s">
								<!--<img alt="Pic" src="" />-->
								<div class="p32 pt32 bg-dark overflow-hidden">
									<h4 class="uppercase mb8">Rock Climbing Facilities</h4><br class="hidden-sm" />
									<span class="inline-block mb80 mb-xs-80">
									<ul>
										<li>• 18,000 Square Foot Facility</li>
										<li>• Bouldering, Lead Climbing, Top-Roping, Auto-Belay</li>
										<li>• Youth Programs & Birthday Parties</li>
										<li>• Adult Climbing Clinics and Classes</li>
										<li>• Training Area (Campus, Moon, Hang Boards)</li>
									</ul></span>

									<div class="mb32">
										<hr class="hidden-xs">

									</div>
								</div>
							</div>

							<div class="col-sm-6 mb30" data-sr="enter bottom move 20px over .5s and scale 0% and wait .3s">
								<!--<img alt="Pic" src="" />-->
								<div class="p32 pt32 bg-dark overflow-hidden">
									<h4 class="uppercase mb8">Building Amenities</h4><br class="hidden-sm" />
									<span class="inline-block mb80 mb-xs-80">
									<ul>
										<li>• Scholarship & Volunteer Programs</li>
										<li>• Community Space (Indoor & Outdoor)</li>
										<li>• Arts & Culture Events</li>
										<li>• Retail Store (Outdoor & Local Goods)</li>
										<li>• Music Nights
									</ul></span>
									<div class="mb32">
										<hr class="hidden-xs">
									</div>
								</div>
							</div>

							<div class="col-sm-6 mb30" data-sr="enter bottom move 20px over .5s and scale 0% and wait 0s">
								<!--<img alt="Pic" src="" />-->
								<div class="p32 pt32 bg-dark overflow-hidden">
									<h4 class="uppercase mb8">Fitness Amenities</h4><br class="hidden-sm" />
									<span class="inline-block mb80 mb-xs-80">
									<ul>
										<li>• World Class Rock Climbing Gym</li>
										<li>• Contemporary Yoga Studio</li>
										<li>• Workout Area (Cardio & Weights)</li>
										<li>• Personal Trainers</li>
										<li>• Locker Rooms & Showers</li>
									</ul></span>

									<div class="mb32">
										<hr class="hidden-xs">

									</div>
								</div>
							</div>

							<div class="col-sm-6 mb30" data-sr="enter bottom move 20px over .5s and scale 0% and wait .3s">
								<!--<img alt="Pic" src="" />-->
								<div class="p32 pt32 bg-dark overflow-hidden">
									<h4 class="uppercase mb8">Flux Makerspace</h4><br class="hidden-sm" />
									<span class="inline-block mb80 mb-xs-80">
									<ul>
										<li>• Makerspace</li>
										<li>• Co-Working </li>
										<li>• Software Development Classes</li>
										<li>• Youth Based Coding Camps</li>
										<li>• Technology Incubator & Mentors</li>


									</ul></span>

									<div class="mb32">
										<hr class="hidden-xs">

									</div>
								</div>
							</div>
						</div><!--end 10 col-->
					</div><!--end of row-->
				</div><!--end of container-->
			</section>

			<section class="cta">
				<div class="pt240 pb180 pt-xs-180 pb-xs-160 relative image-bg overlay">
					<div class="background-image-holder">
						<img alt="Pic" class="background-image" src="/../../static/images/team.jpg" />
					</div>

					<div class="container">
						<div class="row">
							<div class="col-sm-12 text-center">
								<p class="lead mb40"><strong>Interested in getting involved?</strong></p>
								<a class="btn btn-filled btn-white mb0" href="/contactus">Contact Us</a>
							</div>
						</div><!--end of row-->
					</div><!--end of container-->
				</div>
			</section>

{% endblock %}
