{% extends 'main.html' %}

{% block content %}
{% load widget_tweaks %}
			<section class="p0 fullwidth-map">
				<div class="map-holder pt240 pb240 pt-xs-120 pb-xs-120">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2988.794384604556!2d-81.71158684984177!3d41.48705719767311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8830f06964466579%3A0x9817ee856aa29914!2sCleveland+Rocks*21!5e0!3m2!1sen!2sus!4v1521148033639"></iframe>
				</div>
			</section>

			<section class="relative top-layer">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="pt64 pb64 bg-secondary relative overflow-hidden">
								<div class="col-md-5 col-md-push-1 col-sm-6 col-sm-push-1">
									<h4 class="uppercase">Get In Touch</h4>
									<p>
										2831 Franklin Blvd.<br />
										Cleveland, OH 44113
									</p>
									<ul>
										<li>E: <strong><a href="mailto:hello@clevelandrocksclimbing.com">hello@clevelandrocksclimbing.com</a></strong></li>
									</ul>

									<br class="hidden-sm" /><br class="hidden-sm" /><br class="hidden-sm" /><br class="hidden-sm" /><br class="hidden-sm" /><br class="hidden-sm" /><br class="hidden-sm" /><br class="hidden-sm" />
									<!--<h4 class="uppercase">Opening Hours</h4>
									<ul>
										<li>Monday - Friday</li>
										<li>Mornings: <strong>9am - 12am</strong></li>
										<li>Afternoons: <strong>4pm - 8pm</strong></li>
									</ul>

									<ul>
										<li>Saturday</li>
										<li>Mornings: <strong>9am - 12am</strong></li>
									</ul>
								-->

								</div>

								<div class="col-sm-6 height-100 bg-dark right">
									<div class="pt64 p32 pb-xs-64">
										<h4 class="uppercase">Drop a line</h4>
										<!-- <form class="form-email" data-error="Please fill all required fields" data-success="Thanks for your enquiry, we'll be in touch soon."> -->
										<form method="post">
											{% csrf_token %}
											{{ form.name | add_class:"transparent validate-required"}}
											{{ form.email | add_class:"transparent validate-required" }}
											{{ form.message | add_class:"transparent" }}
											 <!-- <input type="text" name="name" placeholder="Your Name" class="transparent validate-required" />
											<input type="text" name="email" placeholder="Email Address" class="transparent validate-required validate-email" />
											<textarea name="message" placeholder="Your Message" rows="3" class="transparent"></textarea>  -->
											<input class="mb0 btn btn-white btn-filled" type="submit" value="Send Message" />
										</form>
									</div>
								</div>
							</div>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>

			<section class="pb0">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h3 class="uppercase mb16"><i class="ti-instagram"></i> ClevelandRocksClimbing</h3>
							<p class="mb40">Follow us <a href="http://www.instagram.com/clevelandrocksclimbing">@clevelandrocksclimbing</a> for updates and news.</p>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->


				<div class="instafeed grid-gallery" data-user-name="lornajaneactive">
					<ul></ul>
				</div>
			</section>

      {% endblock %}
