{% extends 'main.html' %}

{% block content %}

			<section class="pt160 pb160 pt-xs-80 pb-xs-80 image-bg overlay" data-sr="enter bottom move 20px over .5s and scale 0% and wait 0s">
				<div class="background-image-holder">
					<img alt="Pic" class="background-image" src="http://somnus.mediumra.re/img/large7.jpg" />
				</div>

				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h1 class="uppercase mb0">About Us</h1>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>

			<section class="pb0" data-sr="enter bottom move 20px over .5s and scale 0% and wait 0s">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="feature bordered pt48 pb48 pt-xs-32 pb-xs-32 mb0">
								<p class="lead mb0 p32">
									Somnus is a contemporary yoga & pilates studio offering professional<br class="hidden-sm" /> instruction to those seeking balance of mind and body.
								</p>
							</div>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>

			<section class="pb0" data-sr="enter bottom move 20px over .5s and scale 0% and wait 0s">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 col-sm-12">
							<div class="pt64 pb64 bg-secondary overflow-hidden">
								<h4 class="text-center uppercase mb64 mb-xs-40">Enliven &amp; Enlighten</h4>
								<div class="col-md-8 col-md-offset-2">
									<p class="large mb32">
										<strong>A place to nurture minds, bodies & spirits.</strong>
									</p>

									<p>
										Somnus is a peaceful, contemporary space tucked away among the throng of the St. Kilda foreshore. A space for those who wish to reap the many benefits of yoga and pilates, without the cultural teachings commonly found in many yoga programs across Melbourne.
									</p>

									<p>
										We focus on keeping class sizes small (under 20 students) to properly coach and instruct students on an individual level. This personal service has become our hallmark and in-turn our classes are often booked well in advance. Our instructors come from a range of backgrounds and disciplines, making Somnus a diverse collective of expertise.
									</p>
								</div>
							</div>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>

			<section class="pb0 team top-layer">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 overflow-hidden p0">
							<div class="col-sm-6 mb30" data-sr="enter bottom move 20px over .5s and scale 0% and wait 0s">
								<img alt="Pic" src="http://somnus.mediumra.re/img/small7.jpg" />
								<div class="p32 pt32 bg-dark overflow-hidden">
									<h4 class="uppercase mb8">Valeri Sims</h4>
									<span class="inline-block mb80 mb-xs-80">Founder & Head Instructor</span>
									<div class="mb32">
										<hr class="hidden-xs">
										<span><i class="ti-email">&nbsp;</i> valeri@somnus.net</span>
									</div>
								</div>
							</div>

							<div class="col-sm-6 mb30" data-sr="enter bottom move 20px over .5s and scale 0% and wait .3s">
								<img alt="Pic" src="http://somnus.mediumra.re/img/small6.jpg" />
								<div class="p32 pt32 bg-dark overflow-hidden">
									<h4 class="uppercase mb8">Martin Pearce</h4>
									<span class="inline-block mb80 mb-xs-80">Hatha Instructor</span>
									<div class="mb32">
										<hr class="hidden-xs">
										<span><i class="ti-email">&nbsp;</i> martin@somnus.net</span>
									</div>
								</div>
							</div>

							<div class="col-sm-6 mb30" data-sr="enter bottom move 20px over .5s and scale 0% and wait 0s">
								<img alt="Pic" src="http://somnus.mediumra.re/img/small4.jpg" />
								<div class="p32 pt32 bg-dark overflow-hidden">
									<h4 class="uppercase mb8">Amy Henning</h4>
									<span class="inline-block mb80 mb-xs-80">Anasura Instructor</span>
									<div class="mb32">
										<hr class="hidden-xs">
										<span><i class="ti-email">&nbsp;</i> amy@somnus.net</span>
									</div>
								</div>
							</div>

							<div class="col-sm-6 mb30" data-sr="enter bottom move 20px over .5s and scale 0% and wait .3s">
								<img alt="Pic" src="http://somnus.mediumra.re/img/small5.jpg" />
								<div class="p32 pt32 bg-dark overflow-hidden">
									<h4 class="uppercase mb8">Jane Hall</h4>
									<span class="inline-block mb80 mb-xs-80">Restorative Instructor</span>
									<div class="mb32">
										<hr class="hidden-xs">
										<span><i class="ti-email">&nbsp;</i> jane@somnus.net</span>
									</div>
								</div>
							</div>
						</div><!--end 10 col-->
					</div><!--end of row-->
				</div><!--end of container-->
			</section>

			<section class="cta">
				<div class="pt240 pb180 pt-xs-180 pb-xs-160 relative image-bg overlay">
					<div class="background-image-holder">
						<img alt="Pic" class="background-image" src="http://somnus.mediumra.re/img/large5.jpg" />
					</div>

					<div class="container">
						<div class="row">
							<div class="col-sm-12 text-center">
								<p class="lead mb40">Interested in becoming an instructor?</p>
								<a class="btn btn-filled btn-white mb0" href="#">View Our Workshops</a>
							</div>
						</div><!--end of row-->
					</div><!--end of container-->
				</div>
			</section>

{% endblock %}
