{% extends 'main.html' %}

{% block content %}

			<section class="p0 fullwidth-map">
				<div class="map-holder pt240 pb240 pt-xs-120 pb-xs-120">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6299.407471236458!2d144.97881999999993!3d-37.867222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad668668bf2dedb%3A0x6f06ce9ba5f6de92!2sIhana+Yoga!5e0!3m2!1sen!2sau!4v1430089013986"></iframe>
				</div>
			</section>

			<section class="relative top-layer">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="pt64 pb64 bg-secondary relative overflow-hidden">
								<div class="col-md-5 col-md-push-1 col-sm-6 col-sm-push-1">
									<h4 class="uppercase">Get In Touch</h4>
									<p>
										1250 Malvern Rd.<br />
										Glen Iris<br />
										Victoria, 3146
									</p>
									<ul>
										<li>P: <strong>(03) 9382 3625</strong></li>
										<li>E: <strong>hello@somnus.net</strong></li>
									</ul>
									<h4 class="uppercase">Opening Hours</h4>
									<ul>
										<li>Monday - Friday</li>
										<li>Mornings: <strong>9am - 12am</strong></li>
										<li>Afternoons: <strong>4pm - 8pm</strong></li>
									</ul>

									<ul>
										<li>Saturday</li>
										<li>Mornings: <strong>9am - 12am</strong></li>
									</ul>
								</div>

								<div class="col-sm-6 height-100 bg-dark right">
									<div class="pt64 p32 pb-xs-64">
										<h4 class="uppercase">Drop a line</h4>
										<form class="form-email" data-error="Please fill all required fields" data-success="Thanks for your enquiry, we'll be in touch soon.">
											<input type="text" name="name" placeholder="Your Name" class="transparent validate-required" />
											<input type="text" name="email" placeholder="Email Address" class="transparent validate-required validate-email" />
											<textarea name="message" placeholder="Your Message" rows="3" class="transparent"></textarea>
											<input class="mb0 btn btn-white btn-filled" type="submit" value="Send Message" />
										</form>
									</div>
								</div>
							</div>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>

			<section class="pb0">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h3 class="uppercase mb16"><i class="ti-instagram"></i> SomnusYoga</h3>
							<p class="mb40">Follow us <a href="#">@somnusyoga</a> for updates and deals.</p>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->


				<div class="instafeed grid-gallery" data-user-name="lornajaneactive">
					<ul></ul>
				</div>
			</section>

      {% endblock %}
