{% extends 'main.html' %}

{% block content %}

	<section class="pt0 pb0">
		<div class="image-slider slider-all-controls controls-inside">
			<ul class="slides">
				<li>
					<div class="background-image-holder">
						<img alt="Pic" class="background-image" src="static/images/building.jpg" />
					</div>
				</li>
<!--
				<li>
					<div class="background-image-holder">
						<img alt="Pic" class="background-image" src="static/images/building.jpg" />
					</div>
				</li> -->
			</ul>
		</div>
	</section>

	<section class="pb0">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<div class="feature bg-secondary pt64 pb64 pt-xs-32 pb-xs-32 mb0">
						<p class="lead mb0 p32">
							Built in Ohio City's iconic Franklin Masonic Center, Cleveland Rocks will feature<br class="hidden-sm" />a state of the art rock climbing gym, contemporary yoga studio,<br class="hidden-sm" />and non-profit technology center.
						</p>
					</div>
				</div>
			</div><!--end of row-->
		</div><!--end of container-->
	</section>

	<section class="pb0" data-sr="enter bottom move 20px over .5s and scale 0% and wait 0s">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<a href="class-single.html" class="fade-on-hover">
						<img class="mb24" alt="Pic" src="static/images/figure8.jpg" />
					</a>
					<h4 class="uppercase">Reach New Heights</h4>
					<p>
						Poised to be one of Ohio’s largest rock climbing gyms, our 18,000 sq. ft. climbing facility will have something for everyone: lead climbing, top rope, and auto-belay walls along with a spacious bouldering area.<br class="hidden-sm" /><br class="hidden-sm" />For those looking to take their skills to the next level, the training area will feature campus, hang, and moon boards and weight / aerobic rooms.
					</p>
				</div>

				<div class="col-sm-4">
					<a href="class-single.html" class="fade-on-hover">
						<img class="mb24" alt="Pic" src="static/images/yoga.jpeg" />
					</a>
					<h4 class="uppercase">Find Your Balance</h4>
					<p>
						Restore your mind and body through yoga. The studio will be offering group classes in a diverse range of styles from beginner to advanced levels. Our experienced instructors will help you improve your balance, strength, and flexibility. <br class="hidden-sm" /><br class="hidden-sm" />The best part? The classes will be included in all our membership options!
					</p>
				</div>

				<div class="col-sm-4">
					<a href="class-single.html" class="fade-on-hover">
						<img class="mb24" alt="Pic" src="static/images/flux.jpg" />
					</a>
					<h4 class="uppercase">Engage Your Mind</h4>
					<p>
						Flux Makerspace, a non-profit technology center, will be offering coding and programming classes. Committed to providing resources to the next generation of innovators in Cleveland, the center will be a space for students of all ages to grow, learn from one another, and experiment with engineering and technology principles.
					</p>
				</div>
			</div><!--end of row-->
		</div><!--end of container-->
	</section>

	<section class="pb0" data-sr="enter bottom move 20px over .5s and scale 0% and wait 0s">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h2 class="uppercase mb48">Adventure Awaits</h2>
					<a class="btn btn-lg block-xs" href="#">Learn More</a><br />
				</div>
			</div><!--end of row-->
		</div><!--end of container-->
	</section>

	<section class="pb0" data-sr="enter bottom move 20px over .5s and scale 0% and wait 0s">
		<div class="container pull-bottom-half">
			<div class="row">
				<div class="col-sm-12">
					<div class="pt64 pb24 bg-secondary">
						<h4 class="text-center uppercase mb64 mb-xs-40">Upcoming Events</h4>
						<ul class="mb0">
							<li class="overflow-hidden text-center-sm mb40">
								<div class="col-md-2 col-md-offset-1 mb24">
									<span class="title mb16">Cleveland Rocks Meetup</span>
									<span>TBD</span>
								</div>

								<div class="col-md-8 mb24">
									<p class="mb0">
										Calling all technologists, entrepreneurs, and climbers/outdoor enthusiasts! Come join us at Jukebox for our monthly meet up. There will be a special discount on drinks.
									</p>
								</div>



							</li>

							
						</ul>
					</div>
				</div>
			</div><!--end of row-->
		</div><!--end of container-->

		<div class="pt240 pb240 relative">
			<div class="background-image-holder">
				<img alt="Pic" class="background-image" src="/static/images/cleveland.jpg" />
			</div>
		</div>
	</section>

{% endblock %}
