
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Somnus Yoga & Fitness Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="static/css/themify-icons.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="static/css/flexslider.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="static/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="static/css/theme.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="static/css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7COswald:300,400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
    	<div class="nav-container">
    		<nav>
				<div class="nav-utility">
					<div class="module left col-sm-12 col-xs-12 col-md-4 text-center-xs">
						<ul class="list-inline social-list">
							<li><a href="#"><i class="ti-twitter-alt"></i></a></li>
							<li><a href="#"><i class="ti-facebook"></i></a></li>
							<li><a href="#"><i class="ti-instagram"></i></a></li>
							<li><span class="sub">hello@foundry.net</span></li>
						</ul>
					</div>

					<div class="module right">
						<span class="sub">1250 Malvern Rd, Glen Iris | (03) 4837 2716</span>
					</div>
				</div>

				<div class="nav-bar text-center">
					<div class="col-md-2 col-md-push-5 col-sm-12 text-center">
						<a href="#">
							<img alt="logo" class="image-xxs" src="http://somnus.mediumra.re/img/logo-dark.png" />
						</a>
					</div>

					<div class="col-sm-12 col-md-5 col-md-pull-2">
						<ul class="menu pull-right">
							<li><a href="#">Home</a>
								<ul>
									<li><a href="index.html">Classic</a></li>
									<li><a href="home-instagram.html">Instagram</a></li>
								</ul>
							</li>
							<li><a href="/aboutus">About Us</a></li>
							<li><a href="news.html">News</a></li>
						</ul>
					</div>

					<div class="col-md-5 col-sm-12 pb-xs-24">
						<ul class="menu">
							<li><a href="#">Classes</a>
								<ul>
									<li><a href="class-single.html">Class Single</a></li>
								</ul>
							</li>
							<li><a href="timetable.html">Timetable</a></li>
							<li><a href="#">Contact</a>
								<ul>
									<li><a href="contact.html">Classic</a></li>
									<li><a href="contact-form.html">Form</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>

				<div class="module widget-handle mobile-toggle right visible-sm visible-xs">
					<i class="ti-menu"></i>
				</div>
			</nav>
    	</div>
        <div class="main-container">

	<section class="pt0 pb0">
		<div class="image-slider slider-all-controls controls-inside">
			<ul class="slides">
				<li>
					<div class="background-image-holder">
						<img alt="Pic" class="background-image" src="http://somnus.mediumra.re/img/large2.jpg" />
					</div>
				</li>
<!--
				<li>
					<div class="background-image-holder">
						<img alt="Pic" class="background-image" src="http://somnus.mediumra.re/img/large1.jpg" />
					</div>
				</li> -->
			</ul>
		</div>
	</section>

	<section class="pb0">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<div class="feature bg-secondary pt64 pb64 pt-xs-32 pb-xs-32 mb0">
						<p class="lead mb0 p32">
							Somnus is a contemporary yoga & pilates studio offering professional<br class="hidden-sm" /> instruction to those seeking balance of mind and body.
						</p>
					</div>
				</div>
			</div><!--end of row-->
		</div><!--end of container-->
	</section>

	<section class="pb0" data-sr="enter bottom move 20px over .5s and scale 0% and wait 0s">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<a href="class-single.html" class="fade-on-hover">
						<img class="mb24" alt="Pic" src="http://somnus.mediumra.re/img/small1.jpg" />
					</a>
					<h4 class="uppercase">Hatha</h4>
					<p>
						Our Hatha classes focus on correctly aligning the body to improve general posture, breathing and circulation. Hatha is ideal for beginners and those with physical limitations.
					</p>
				</div>

				<div class="col-sm-4">
					<a href="class-single.html" class="fade-on-hover">
						<img class="mb24" alt="Pic" src="http://somnus.mediumra.re/img/small2.jpg" />
					</a>
					<h4 class="uppercase">Anasura</h4>
					<p>
						Based on the traditional principles of Hatha, Anasura pratices assist students in forming a strong mind, body connection. Our Anasura classes best suit students with their own existing yoga routines.
					</p>
				</div>

				<div class="col-sm-4">
					<a href="class-single.html" class="fade-on-hover">
						<img class="mb24" alt="Pic" src="http://somnus.mediumra.re/img/small3.jpg" />
					</a>
					<h4 class="uppercase">Restorative</h4>
					<p>
						Centered around the notion of physical and emotional balance, Restorative classes are perfect for students looking to alleviate stress and fatigue. Our restorative program includes all necessary equipment.
					</p>
				</div>
			</div><!--end of row-->
		</div><!--end of container-->
	</section>

	<section class="pb0" data-sr="enter bottom move 20px over .5s and scale 0% and wait 0s">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h2 class="uppercase mb48">Find Your Balance</h2>
					<a class="btn btn-lg block-xs" href="#">Become A Member</a><br />
					<a class="fade-half" href="#">Or Contact Us for more info</a>
				</div>
			</div><!--end of row-->
		</div><!--end of container-->
	</section>

	<section class="pb0" data-sr="enter bottom move 20px over .5s and scale 0% and wait 0s">
		<div class="container pull-bottom-half">
			<div class="row">
				<div class="col-sm-12">
					<div class="pt64 pb24 bg-secondary">
						<h4 class="text-center uppercase mb64 mb-xs-40">Upcoming Workshops</h4>
						<ul class="mb0">
							<li class="overflow-hidden text-center-sm mb40">
								<div class="col-md-2 col-md-offset-1 mb24">
									<span class="title mb16">Prenatal Yoga</span>
									<span>Mon 11a - 1p</span>
								</div>

								<div class="col-md-6 mb24">
									<p class="mb0">
										Our focussed prenatal workshop seeks to empower expecting mothers. We aid and assist in developing strength and stamina and offer strategies to relieve common pain associated with pregnancy.
									</p>
								</div>

								<div class="col-md-3">
									<a class="btn" href="class-single.html">More Info</a>
								</div>
							</li>

							<li class="overflow-hidden text-center-sm mb40">
								<div class="col-md-2 col-md-offset-1 mb24">
									<span class="title mb16">Sports Pilates</span>
									<span>Wed 11a - 1p</span>
								</div>

								<div class="col-md-6 mb24">
									<p class="mb0">
										Our much loved Pilates workshop is back again. Come in for an hour of high-intensity, fat burning activity. Special guest instructor Mel Harris (AIS Gymnastics Coach) will be taking no prisoners.
									</p>
								</div>

								<div class="col-md-3">
									<a class="btn" href="class-single.html">More Info</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div><!--end of row-->
		</div><!--end of container-->

		<div class="pt240 pb240 relative">
			<div class="background-image-holder">
				<img alt="Pic" class="background-image" src="http://somnus.mediumra.re/img/large7.jpg" />
			</div>
		</div>
	</section>

	<section data-sr="enter bottom move 20px over .5s and scale 0% and wait 0s">
		<div class="container">
			<div class="row mb64 mb-xs-32">
				<div class="col-sm-12 text-center">
					<div class="bg-secondary pt64 pb64">
						<h4 class="uppercase mb16">Newsletter</h4>
						<p>
							Studio Updates &amp; New Timetables Weekly
						</p>
						<form class="form-newsletter" data-success="Thanks, we'll get back to you shortly." data-error="Please fill all required fields.">
							<input type="text" class="validate-required validate-email signup-email-field" placeholder="Enter Email" />
							<input type="submit" class="btn" value="Sign Up" />

						</form>
					</div>
				</div>
			</div><!--end of row-->

			<div class="row">
				<div class="col-sm-12 text-center">
					<ul class="list-inline social-list wide">
						<li><a href="#"><i class="icon icon-sm ti-twitter-alt"></i></a></li>
						<li><a href="#"><i class="icon icon-sm ti-facebook"></i></a></li>
						<li><a href="#"><i class="icon icon-sm ti-instagram"></i></a></li>
					</ul>
				</div>
			</div><!--end of row-->
		</div><!--end of container-->
	</section>

           <footer class="footer-2 bg-dark pt16 pb16 text-center">
				<div class="col-sm-2">
					&nbsp;
				</div>

				<div class="col-sm-8 text-center">
					<span class="fade-1-4">&copy; Copyright 2015 Medium Rare, All Rights Reserved.</span>
				</div>

				<div class="col-sm-2 text-right text-center-xs">
					<a class="underline" href="utility.html">Privacy Policy</a>
				</div>
			</footer>
        </div>
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/flexslider.min.js"></script>
        <script src="static/js/lightbox.min.js"></script>
        <script src="static/js/twitterfetcher.min.js"></script>
        <script src="static/js/spectragram.min.js"></script>
		<script src="static/js/parallax.js"></script>
		<script src="static/js/scrollreveal.min.js"></script>
        <script src="static/js/scripts.js"></script>
    </body>
</html>

js
