{% extends 'main.html' %}

{% block content %}
{% load static %}

	<section class="pt0 pb0">
		<div class="image-slider slider-all-controls controls-inside">
			<ul class="slides">
				<li>
					<div class="background-image-holder">
						<!-- <img alt="Pic" class="background-image" src="../../static/images/building.jpg" /> -->
					  <img src="{% static "images/building.jpg" %}" alt="Building" class="background-image" />
					</div>
				</li>
			</ul>
		</div>
	</section>

	<section class="pb0">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<div class="feature bg-secondary pt64 pb64 pt-xs-32 pb-xs-32 mb0">
						<p class="lead mb0 p32">
							Built in Ohio City's iconic Franklin Masonic Center, Cleveland Rocks will feature<br class="hidden-sm" />one of the largest rock climbing gyms in Ohio, a contemporary yoga studio,<br class="hidden-sm" />and a makerspace (non-profit technology center).
						</p>
					</div>
				</div>
			</div><!--end of row-->
		</div><!--end of container-->
	</section>

	<section class="pb0" data-sr="enter bottom move 20px over .5s and scale 0% and wait 0s">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<a href="class-single.html" class="fade-on-hover">
						<img class="mb24" alt="Pic" src="../../static/images/figure8.jpg" />
					</a>
					<h4 class="uppercase">Reach New Heights</h4>
					<p>
						Our 18,000 sq. ft. climbing facility will have something for everyone: lead climbing, top rope, and auto-belay walls along with a spacious bouldering area.<br class="hidden-sm" /><br class="hidden-sm" />For those looking to take their skills to the next level, the training area will feature campus, hang, and moon boards and weight / aerobic rooms.
					</p>
				</div>

				<div class="col-sm-4">
					<a href="class-single.html" class="fade-on-hover">
						<img class="mb24" alt="Pic" src="../../static/images/yoga.jpeg" />
					</a>
					<h4 class="uppercase">Find Your Balance</h4>
					<p>
						Restore your mind and body through yoga. The studio will be offering group classes in a diverse range of styles from beginner to advanced levels. Our experienced instructors will help you improve your balance, strength, and flexibility. <br class="hidden-sm" /><br class="hidden-sm" />
					</p>
				</div>

				<div class="col-sm-4">
					<a href="class-single.html" class="fade-on-hover">
						<img class="mb24" alt="Pic" src="../../static/images/flux.jpg" />
					</a>
					<h4 class="uppercase">Engage Your Mind</h4>
					<p>
						Flux Makerspace is a technology center committed to making Cleveland a technology hub in the United States. For coding and programming, Flux will offer self-serve resources for those who want to learn at their own pace as well as structured classes for more traditional learning. Flux is committed to fostering a community of innovators in Cleveland.
					</p>
				</div>
			</div><!--end of row-->
		</div><!--end of container-->
	</section>

	<section class="pb0" data-sr="enter bottom move 20px over .5s and scale 0% and wait 0s">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<!-- <h2 class="uppercase mb48">Adventure Awaits</h2> -->
					<h2 class="uppercase mb48">Building Currently Under Construction</h2>
					<a class="btn btn-lg block-xs" href="/aboutus">Learn More</a><br />
				</div>
			</div><!--end of row-->
		</div><!--end of container-->
	</section>

	<section class="pb0" data-sr="enter bottom move 20px over .5s and scale 0% and wait 0s">
		<div class="container pull-bottom-half">



			{% if object_list %}
			<div class="row">
				<div class="col-sm-12" style="margin-bottom:120px;">
					<div class="pt64 pb24 bg-secondary">
						<h4 class="text-center uppercase mb64 mb-xs-40">Upcoming Events</h4>
							{% for event in object_list %}


									<ul class="mb0">

										<li class="overflow-hidden text-center-sm mb40">
											<div class="col-md-2 col-md-offset-1 mb24">
												<span class="title mb16">{{ event.title }}</span>
													<span> {{ event.time_begin|date:"l, F jS f" }}{{ event.time_begin|date:"A"|lower }}-
														 {% if event.time_begin.date == event.time_end.date %}
														 		{{ event.time_end|date:"P"}}{{ event.time_begin|date:"A"|lower }}
														 {% else %}
														 		{{ event.time_end|date:" F jS f"}}{{ event.time_end|date:"A"|lower }}

														 {% endif %}</span>
											</div>

											<div class="col-md-8 mb24" >
												<p class="mb0">
														{{ event.message }}
												</p>
											</div>
										</li>

									</ul>

						{% endfor %}

					</div>
				</div>
			</div>
			{% endif %}

		</div>

		<div class="pt240 pb240 relative">
			<div class="background-image-holder">
				<img alt="Pic" class="background-image" src="../../static/images/cleveland.jpg" />
			</div>
		</div>
	</section>

{% endblock %}
