
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cleveland Rocks! | Rock Climbing Gym, Yoga Studio, Technology Center</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="static/css/themify-icons.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="static/css/flexslider.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="static/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="static/css/theme.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="static/css/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7COswald:300,400,700' rel='stylesheet' type='text/css'>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
		<script type="text/javascript">
	// Parse the URL parameter
	function getParameterByName(name, url) {
	    if (!url) url = window.location.href;
	    name = name.replace(/[\[\]]/g, "\\$&");
	    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
	        results = regex.exec(url);
	    if (!results) return null;
	    if (!results[2]) return '';
	    return decodeURIComponent(results[2].replace(/\+/g, " "));
	}
	// Give the parameter a variable name
	var dynamicContent = getParameterByName('dc');

	 $(document).ready(function() {

		// Check if the URL parameter is email
		if (dynamicContent == 'email') {
			$('#email').show();
		}
    else if (dynamicContent == 'contactus') {
      $('#contactus').show();
    }
		// Check if the URL parmeter is empty or not defined, display default content
		else {
			$('#default-content').show();
		}
	});
		</script>

		<style>
		.dynamic-content {
		    display:none;
		}
		</style>


    </head>
    <body>
    	<div class="nav-container">
    		<nav>

				<div class="dynamic-content nav-utility bg-dark text-center" id="email">

					<div class="col-sm-12 text-center">
						<span class="fade-1-4">Thanks for signing up! Keep an eye on your inbox for our next newsletter.</span>
					</div>


				</div>

        <div class="dynamic-content nav-utility bg-dark text-center" id="contactus">

					<div class="col-sm-12 text-center">
						<span class="fade-1-4">Thanks for dropping us a line! We will get back to you soon!</span>
					</div>


				</div>



				<div class="nav-utility">

					<div class="module left col-sm-12 col-xs-12 col-md-4 text-center-xs">
						<ul class="list-inline social-list">
							<li><a href="#"><i class="ti-twitter-alt"></i></a></li>
							<li><a href="https://www.facebook.com/clevelandrocksclimbing/"><i class="ti-facebook"></i></a></li>
							<li><a href="http://www.instagram.com/clevelandrocksclimbing"><i class="ti-instagram"></i></a></li>
							<li><span class="sub">hello@clevelandrocksclimbing.com</span></li>
						</ul>
					</div>

					<div class="module right">
						<span class="sub">2831 Franklin Blvd, Cleveland, OH 44113</span>
					</div>
				</div>

				<div class="nav-bar text-center">
					<div class="col-md-2 col-md-push-5 col-sm-12 text-center">
						<a href="#">
							<img alt="logo" class="image-logo" src="static/images/logo.png" style="width:120px;" />
						</a>
					</div>

					<div class="col-sm-12 col-md-5 col-md-pull-2">
						<ul class="menu pull-right">
							<li><a href="/">Home</a>
							</li>
							<li><a href="/aboutus">About</a></li>


						</ul>
					</div>

					<div class="col-md-5 col-sm-12 pb-xs-24">
						<ul class="menu">
							<li><a href="http://fluxmakerspace.com" target="_blank">Flux Makerspace</a></li>
							<li><a href="/contactus">Contact</a>
								<!-- <ul>
									<li><a href="contact.html">Classic</a></li>
									<li><a href="contact-form.html">Form</a></li>
								</ul> -->
							</li>
						</ul>
					</div>
				</div>

				<div class="module widget-handle mobile-toggle right visible-sm visible-xs">
					<i class="ti-menu"></i>
				</div>
			</nav>
    	</div>
        <div class="main-container">

{% block content %}
{% endblock %}
	<section data-sr="enter bottom move 20px over .5s and scale 0% and wait 0s">
		<div class="container">
			<div class="row mb64 mb-xs-32">
				<div class="col-sm-12 text-center">
					<div class="bg-secondary pt64 pb64">
						<h4 class="uppercase mb16">Be the First to Know</h4>
						<p>
							Get the latest updates, news, and special offers!
						</p>

<form action="https://clevelandrocksclimbing.us12.list-manage.com/subscribe/post" method="POST" class="form-newsletter" data-success="Thanks, we'll get back to you shortly." data-error="Please fill all required fields." >
<input type="hidden" name="u" value="9227644230bbb05de90c7556f">
<input type="hidden" name="id" value="5353104311">
							<input type="text" name="MERGE0" class="validate-required validate-email signup-email-field" placeholder="Enter Email" />
							<input type="submit" class="btn" value="Sign Up" />

						</form>

					</div>
				</div>
			</div><!--end of row-->

			<div class="row">
				<div class="col-sm-12 text-center">
					<ul class="list-inline social-list wide">
						<li><a href="http://www.twitter.com/CLERocksClimb"><i class="icon icon-sm ti-twitter-alt"></i></a></li>
						<li><a href="http://www.facebook.com/clevelandrocksclimbing/"><i class="icon icon-sm ti-facebook"></i></a></li>
						<li><a href="http://www.instagram.com/clevelandrocksclimbing"><i class="icon icon-sm ti-instagram"></i></a></li>
					</ul>
				</div>
			</div><!--end of row-->
		</div><!--end of container-->
	</section>

           <footer class="footer-2 bg-dark pt16 pb16 text-center">
				<div class="col-sm-2">
					&nbsp;
				</div>

				<div class="col-sm-8 text-center">
					<span class="fade-1-4">Climb on. 👊</span>
				</div>

				<div class="col-sm-2 text-right text-center-xs">
					<a class="underline"></a>
				</div>
			</footer>
        </div>
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/flexslider.min.js"></script>
        <script src="static/js/lightbox.min.js"></script>
        <script src="static/js/twitterfetcher.min.js"></script>
        <script src="static/js/spectragram.min.js"></script>
        <script src="static/js/parallax.js"></script>
        <script src="static/js/scrollreveal.min.js"></script>
        <script src="static/js/scripts.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </body>
</html>
